@page "/Employee"
<h3>EmployeeRazorPage</h3>

<EditForm >
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" id="Nombre" />
            </div>
        </div>
    </div>


</EditForm>


@code {
    
}
